@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1200px;
    font-family: 'Noto Sans KR', sans-serif;
    outline:1px solid #ccc;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    height: 69px;
    background: #fff;
    padding-right: 20px;
    padding-left: 20px;
}


header h1 img {
    padding-left: 20px;
    padding-right: 180px;
}

#gnb {
    position: absolute;
    left: 344px;
    top: 24px;
}

#gnb ul {
    display: flex;
    text-align: center;
    gap: 50px;
}

#gnb ul li {
    font-size: 18px;
}

#gnb ul li:hover {
    color: #FF5758;
}

.icons img {
    margin-right: 20px;
    /* outline: 1px solid red */
}

.icons button {
    border-style: none;
    background: transparent;
    width: 24px;
    height: 24px;
}

#sidebar {
    background: #fff;
    position: absolute;
    width: 439px;
    height: 1038px;
    top: 0;
    left: 761px;
    transform: translateX(1000%);
    z-index: 999;
}

#sidebar.on {
    transform: translateX(0%);
}

#sidebar ul {
    margin-left: 42px;
}

#sidebar ul li {
    margin-bottom: 20px;
}

#sidebar ul li:first-child {
    margin-top: 90px;
}

#sidebar ul li:last-child {
    color: #FF5758;
}

#close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 375px;
    top: 40px;
    border-style: none;
    text-decoration: none;
}





.slider {
    width: 1200px;
    height: 450px;
    overflow: hidden;
}

.slider .sliders img {
    display: block;
}

.sliders{
    width: calc(1200px * 3);
    transform: translateX(0);
    display: flex;
    transition: 0.5s;
}





.contents h2 {
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 32px;
    font-weight: 500;
}

.contents .column {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 21.9px;
    
}

.contents .col {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 61px;
}

.contents .col .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.contents .col p {
    font-weight: 500px;
    font-size: 14px;
}

.contents .col p span {
    font-size: 18px;
    font-weight: 700;
    
}
.contents .col p img {
    padding: 10px 0;
}





footer {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 115px;
    background: #535353;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
}

.footer-text p {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    gap: 5px;
}

.subscribe .email {
    background: #fff;
    padding: 5px 168px 5px 10px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #ccc;
}

.subscribe .login {
    width: 75px;
    height: 30px;
    background: #ff6263;
    color: #fff;
    padding: 5.5px 13.5px;
    font-size: 13px;
    font-weight: 400;
}